/* 1. O Box Sizing Universal é o mais importante! */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Zera as Margens e Preenchimentos Padrões */
*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth; 
}
body 
{
    margin: 0;
    padding: 0;
}