:root {
    /* paleta de cores padrão */
    --cor-primaria: #103141;
    --cor-secundaria: #EBFF00;
    --cor-forms: #BAC7CD;

    /* fontes padrão */
    --fonte-titulo: "Anton", sans-serif;
    --fonte-texto: "Iceland", sans-serif;
    --fonte-equipe: "Inter", sans-serif;
}

.center {
    margin: 0 48px;
    width: calc(100% - 6rem);
}

/* Fonte e cor padrão do corpo */
body {
    font-family: var(--fonte-texto);
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    margin: 0;
    padding: 0;
}

/* Cabeçalhos e títulos */
h1,
h2,
h3,
h4 {
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
}

/* Logo */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-title);
    font-size: 5rem;
    color: var(--color-secundaria);
}

.logo-img {
    height: 4rem;
    width: 12rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/*cabeçalho*/
.site-header {
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: var(--cor-primaria);
    /*cor do fundo*/
    padding: 1rem 0px;
    /*espaçamento*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /*sombra*/
}

.site-header .container {
    display: flex;
    /*mantem as coisas alinhadas*/
    justify-content: space-between;
    /* logo à esquerda, menu à direita */
    align-items: center;
    /*deixs no centro */

}

.grupo-direita {
    display: flex;
    align-items: center;
    gap: 40px;
    /* espaço maior entre os links e a imagem */
}

.nav-links {
    display: flex;
    align-items: center;
    /* alinha dentro do menu */
    gap: 3rem;
    /* espaço entre os links */
}

.nav-links a {
    color: var(--cor-secundaria);
    text-decoration: none;
    /*tira o sublinhado de link*/
    font-family: var(--fonte-texto);
    font-size: 1.75rem;
}

.nav-links a:hover{
    scale: 1.17;
    transition: 0.5s;
}

/*só o botão serviços, do cabeçalho*/
.btn-servicos {
    background-color: var(--cor-secundaria);
    /* cor do retângulo */
    color: var(--cor-primaria) !important;
    /* cor do texto dentro */
    padding: 0.5rem 3rem;
    /* espaço interno */
    border-radius: 2rem;
    /* bordas arredondadas */
    text-decoration: none;
    /* sem sublinhado */
}

/*icone menu lateral*/
.lateral-icon {
    height: 40px;
    width: auto;
    display: none;  /*pra esconder na versão pc*/
    cursor: pointer; /*quando colocar o mouse em cima*/
}

/*menu lateral*/
#side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: var(--cor-secundaria);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 20px 20px;
  transition: right 0.3s ease;
  box-shadow: -2px 0 10px rgba(0,0,0,0.4);
  z-index: 1000;
}
#side-menu a{
    font-family: var(--fonte-texto);
    color: var(--cor-primaria);
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0;
}
#side-menu a:hover{
    scale: 1.17;
    transition: 0.5s;
}

#side-menu.open {
  right: 0;
}
/*botao de fechar o menu lateral*/
#close-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2em;
  color: var(--cor-primaria);
  cursor: pointer;
}

/*muda o cabeçalho de acordo com o dispositivo/resolução da tela*/
@media (max-width: 900px) { /*tablet / telefone*/
  .nav-links {
    display: none; /* esconde os links */
  }

  .lateral-icon {
    display: block; /* mostra o ícone do menu */
  }
}



/* First section - banner principal */
site-main {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.container-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.container-first-section .textos-principais {
    max-width: 644px;
}

.container-first-section .imagem {
    width: 45%;
}

.container-first-section .textos-principais h1 {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 1rem;
}

.container-first-section .textos-principais p {
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

.container-first-section .imagem img {
    width: 100%;
    height: auto;
}

.informacoes {
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
}

.informacoes p {
    font-size: 28px;
    padding: 1rem 0;
}

.informacoes span {
    color: white;
}