:root {
    /* paleta de cores padrão */
    --cor-primaria: #103141;
    --cor-secundaria: #EBFF00;
    --cor-forms: #BAC7CD;

    /* fontes padrão */
    --fonte-titulo: "Anton", sans-serif;
    --fonte-texto: "Iceland", sans-serif;
    --fonte-equipe: "Inter", sans-serif;
}

.center {
    margin: 0 48px;
    width: calc(100% - 6rem);
}

/* Fonte e cor padrão do corpo */
body {
    font-family: var(--fonte-texto);
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    margin: 0;
    padding: 0;
}

/* Cabeçalhos e títulos */
h1,
h2,
h3,
h4 {
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
    font-size: 4rem;
}

/* Logo */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-title);
    font-size: 5rem;
    color: var(--color-secundaria);
}

.logo-img {
    height: 4rem;
    width: 12rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/*cabeçalho*/
.site-header {
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: var(--cor-primaria);
    /*cor do fundo*/
    padding: 1rem 0px;
    /*espaçamento*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /*sombra*/
}

.site-header .container {
    display: flex;
    /*mantem as coisas alinhadas*/
    justify-content: space-between;
    /* logo à esquerda, menu à direita */
    align-items: center;
    /*deixs no centro */

}

.grupo-direita {
    display: flex;
    align-items: center;
    gap: 40px;
    /* espaço maior entre os links e a imagem */
}

.nav-links {
    display: flex;
    align-items: center;
    /* alinha dentro do menu */
    gap: 3rem;
    /* espaço entre os links */
}

.nav-links a {
    color: var(--cor-secundaria);
    text-decoration: none;
    /*tira o sublinhado de link*/
    font-family: var(--fonte-texto);
    font-size: 1.75rem;
}

.nav-links a:hover{
    scale: 1.17;
    transition: 0.5s;
}
#inicio {
    scroll-margin-top: 9rem;
}

/*só o botão serviços, do cabeçalho*/
.btn-servicos {
    background-color: var(--cor-secundaria);
    /* cor do retângulo */
    color: var(--cor-primaria) !important;
    /* cor do texto dentro */
    padding: 0.5rem 3rem;
    /* espaço interno */
    border-radius: 2rem;
    /* bordas arredondadas */
    text-decoration: none;
    /* sem sublinhado */
}

/*icone menu lateral*/
#lateral-btn{
    font-size: 3rem;
    cursor: pointer; /*quando colocar o mouse em cima*/
    display: none;
}

/*menu lateral*/
#side-menu {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px;
  transition: right 0.3s ease;
  box-shadow: -2px 0 10px rgba(0,0,0,0.4);
  z-index: 1000;
}
#side-menu .side-logo{
    position: absolute;
    top: 20px;
    left: 20px;
}
#side-menu .side-logo img{
    width: 120px;
    height: auto;
}
/* Links centralizados verticalmente */
#side-menu .side-nav {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente */
  width: 100%;
  margin-top: 50px;
}
#side-menu a{
    font-family: var(--fonte-texto);
    color: var(--cor-secundaria);
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0;
}
/* linha entre links */
#side-menu hr {
  width: 80%;
  border: 0;
  border-top: 2px solid var(--cor-secundaria);
  margin: 0;
}
#side-menu a:hover{
    scale: 1.17;
    transition: 0.5s;
}

#side-menu.open {
  right: 0;
}
/*botao de fechar o menu lateral*/
#close-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 4em;
  color: var(--cor-secundaria);
  cursor: pointer;
}

/*muda o cabeçalho de acordo com o dispositivo/resolução da tela*/
@media (max-width: 900px) { /*tablet/telefone*/
  .nav-links {
    display: none; /* esconde os links */
  }

  #lateral-btn {
    display: block; /* mostra o ícone do menu */
  }
}



/* First section - banner principal */
site-main {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.container-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.container-first-section .textos-principais {
    max-width: 644px;
}

.container-first-section .imagem {
    width: 45%;
}

.container-first-section .textos-principais h1 {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 1rem;
}

.container-first-section .textos-principais p {
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

.container-first-section .imagem img {
    width: 100%;
    height: auto;
}

.informacoes {
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
}

.informacoes p {
    font-size: 28px;
    padding: 1rem 0;
}

.informacoes span {
    color: white;
}

/* second section - sobre nós */
.container-second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container-second-section .textos-second-section{
    text-align: center;
    width: 90%;
}
.container-second-section .textos-second-section h2{
    padding-bottom: 5rem;
}
.container-second-section .textos-second-section p{
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.container-second-section .imagem-second-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-second-section .imagem-second-section img{
    width: 50%;
}

#quem-somos-texto, #redes-sociais {
    scroll-margin-top: 7rem;
}

#equipe{
    scroll-margin-top: 3rem;
}

/*footer*/
footer{
    background-color: var(--cor-primaria);
    color: white;
    padding: 40px 60px;
    font-family: var(--fonte-texto);
    border-top: 5px solid var(--cor-secundaria);
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /*aqui é pra funfar no mobile*/
}

.footer-section-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: var(--cor-secundaria);
}

/* esquerda */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone-icon {
  width: 20px;
  height: 20px;
}

/* direita */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 8px;
}

.footer-right h3 {
  font-family: var(--font-title);
  margin-bottom: 5px;
}

.footer-right a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.footer-right a:hover {
  color: var(--color-secundaria);
}

/* parte inferior */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  opacity: 0.8;
}
/*arruma o footer pra telefone*/
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;      /* empilha os dois blocos */
    align-items: center;         /* centraliza horizontalmente */
    text-align: center;
  }

  .footer-left,
  .footer-right {
    align-items: center;         /* centraliza os itens de cada bloco */
    text-align: center;
  }
}

/*parte da equipe*/
.team-section {
  background-color: var(--cor-primaria); /* fundo escuro */
  padding: 60px 20px;
  color: white;
  text-align: center;
}

.team-section h2{
    padding-bottom: 4rem;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; /* espaço entre linhas */
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
}

.team-member {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
  width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* FIXAR ALTURA PADRÃO */
  height: 291px; 
  box-sizing: border-box;
}

.photo-wrapper {
  width: 120px;       /* tamanho fixo da foto */
  height: 120px;      /* tamanho fixo da foto */
  border-radius: 50%; /* circular */
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-wrapper img {
  width: 100%;        /* preenche o círculo */
  height: 100%;       /* preenche o círculo */
  object-fit: cover;  /* mantém proporção sem distorcer */
}

.member-name {
  font-family: var(--fonte-equipe); /* Inter */
  color: var(--cor-secundaria);
  font-size: 1.1rem; /* ligeiramente maior */
  margin: 5px 0;
}

.member-role {
  font-family: var(--fonte-equipe); /* Inter */
  font-size: 0.9rem; /* menor que o nome */
  opacity: 0.8;
}

/* Tablet: 2 colunas */
@media (max-width: 1024px) {
  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celular: 1 coluna */
@media (max-width: 768px) {
  .team-container {
    grid-template-columns: 1fr;
  }
}

/*redes sociais*/
.redes-section{
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  text-align: center;
  padding: 80px 20px;
}
.redes-section h2 {
  font-family: var(--fonte-titulo);
  font-size: 4rem;
  margin-bottom: 60px;
  color: var(--cor-secundaria);
}
.redes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; /* espaçamento entre os 3 blocos */
}
/* Card individual */
.social-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.social-card img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.social-card img:hover { /*efeitinho quando coloca o mouse em cima*/
  transform: scale(1.15);
}
.social-card p {
  font-family: var(--fonte-equipe);
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}

.social-card:hover {
    transform: scale(1.1);
    color: var(--cor-secundaria);
    cursor: pointer;
    transition: 0.7s;
}

.social-card i{
    font-size: 8rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}
/*telefone*/
@media (max-width: 600px) {
  .redes-container {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 40px;
  }

  .social-card i {
    font-size:  5rem; 
  }

  .social-card p {
    font-size: 1.2rem;
  }
}

/*tablet*/
@media (max-width: 1024px) {
  .redes-container {
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
    gap: 30px ;
    flex-wrap: nowrap ;
  }

  .social-card i {
    font-size: 6rem;
  }

  .social-card p {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .container-first-section .textos-principais h1 {
    font-size: 2.5rem; 
  }

  .container-first-section .textos-principais p {
    font-size: 1.25rem; 
  }

  .informacoes p {
    font-size: 1.5rem; 
  }

  .informacoes {
    flex-direction: column; 
    gap: 1rem; 
    align-items: center; 
  }

  .container-first-section .imagem {
    width: 90%; 
    margin: 0 auto; 
  }

  .container-second-section .imagem-second-section img {
    width: 90%; 
  }
}